ErrorDocument 404 /404.html
RewriteEngine On

# Skip existing files and directories from the following rewrite rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite for one segment (e.g., /example/ to /example.html)
RewriteRule ^([^/]+)/$ $1.html [L]

# Rewrite for two segments (e.g., /example/test/ to /example/test.html)
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.html [L]

# Add rules for three, four, and five segments
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/$ /$1/$2/$3.html [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/$ /$1/$2/$3/$4.html [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$ /$1/$2/$3/$4/$5.html [L]

# Redirect to add a trailing slash if it is missing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]
