@media screen and (min-width: 40em) {
  .academic1 .application-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .academic1 .application-btn-container a {
    background-color: rgb(157, 157, 189);
    color: white;
    min-width: 200px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  .academic1 .application-btn-container a:hover {
    background-color: rgb(128, 128, 156);
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
    transition: all 0.3s ease;
  }
  .academic1 .application-btn-container a i {
    margin-right: 10px;
  }
  #footer .footer {
    background-color: rgb(48, 48, 48);
    text-align: center;
    padding: 30px 10px;
  }
  #footer .footer .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0px auto;
    color: white;
    text-align: left;
  }
  #footer .footer .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0px auto;
    color: white;
    text-align: left;
  }
  #footer .footer .links .footer-div {
    background-color: inherit;
    border: none;
    padding: 0px;
  }
  #footer .footer .links .footer-div-icon {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0px auto;
    font-size: 25px;
  }
  #footer .footer .links .footer-div-icon a:hover {
    color: rgb(157, 157, 189);
    transform: scale(1.1);
  }
  #footer .footer .links .footer-div b {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
  }
  #footer .footer .links .footer-div .bar {
    display: block;
    width: 50px;
    border: 3px solid rgb(157, 157, 189);
    margin: 10px 0px;
  }
  #footer .footer .links .footer-div a {
    color: white;
  }
  #footer .footer .links .footer-div a:hover {
    color: rgb(157, 157, 189);
  }
  #footer p {
    margin: 20px 0px;
    text-align: center;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  #footer .footer {
    background-color: rgb(48, 48, 48);
    text-align: center;
    padding: 30px 20px;
  }
  #footer .footer .links {
    margin: 0px auto;
    padding: 0px;
    color: white;
    text-align: left;
  }
  #footer .footer .links .footer-div {
    background-color: inherit;
    border: none;
    padding: 10px 0px;
  }
  #footer .footer .links .footer-div b {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
  }
  #footer .footer .links .footer-div .bar {
    display: block;
    width: 30px;
    border: 2px solid rgb(157, 157, 189);
    margin: 5px 0px;
  }
  #footer .footer .links .footer-div a {
    color: white;
  }
  #footer .footer .links .footer-div a:hover {
    color: rgb(157, 157, 189);
  }
  #footer p {
    margin: 10px 0px;
    text-align: center;
  }
}


