@media screen and (min-width: 40em) {
  .introduction {
    position: relative;
    overflow: hidden;
  }
  
  .introduction::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/image/index.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(10px);
    z-index: -1;
  }
  .introduction div {
    padding: 200px 10px 120px 10px;
    text-align: center;
    max-width: 1000px;
    margin: 0px auto;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }
  .introduction div .name {
    padding: 0px;
    font-size: 45px;
    font-weight: bold;
  }
  
  .academic-divs {
    padding: 50px 35px;
    max-width: 1200px;
    margin: 0px auto;
  }
  .academic-divs .index-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .academic-divs .index-menu div i {
    font-size: 80px;
    width: 120px;
    height: 120px;
    padding: 30px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .academic-divs .index-menu div i:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .academic2 {
    background-color: rgb(48, 48, 48);
    text-align: center;
    padding: 50px 35px;
  }
  .academic2 .title {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .academic2 .bar {
    display: block;
    width: 50px;
    border: 3px solid rgb(157, 157, 189);
    margin: 10px auto;
  }
  .academic2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .academic2 div div {
    display: block;
    padding: 20px;
    width: 250px;
    background-color: white;
    border-bottom: 5px solid rgb(157, 157, 189);
  }
  .academic2 div div b {
    display: block;
    font-size: 24px;
    padding: 0px 20px;
  }
  .academic2 div div i {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 100px;
    padding: 10px 0px;
  }

  .academic1 {
    background-color: white;
    text-align: center;
    padding: 50px 35px;
    max-width: 1200px;
    margin: 0px auto;
  }
  .academic1 .title {
    font-size: 30px;
    font-weight: bold;
  }
  .academic1 .bar {
    display: block;
    width: 50px;
    border: 3px solid rgb(157, 157, 189);
    margin: 10px auto;
  }
  .academic1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .academic1 div div {
    display: block;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    cursor: pointer;
  }
  .academic1 div div:hover {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .academic1 div div b {
    display: block;
    padding: 5px 0px 10px 0px;
  }
  .academic1 div div span {
    display: block;
    font-size: 13px;
  }
  .academic1 div div img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-bottom: 5px solid rgb(157, 157, 189);
  }


}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .introduction {
    position: relative;
    overflow: hidden;
  }
  
  .introduction::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/image/index.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(5px);
    z-index: -1;
  }
  .introduction div {
    padding: 100px 5px 30px 5px;
    text-align: center;
    margin: 0px auto;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  }
  .introduction div .name {
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
  }

  .academic-divs {
    padding: 30px 10px;
    margin: 0px auto;
  }
  .academic-divs .index-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
    line-break: normal;
  }
  .academic-divs .index-menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px;
  }
  .academic-divs .index-menu div i {
    font-size: 30px;
    width: 40px;
    height: 40px;
    padding: 30px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .academic-divs .index-menu div i:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .academic2 {
    background-color: rgb(48, 48, 48);
    text-align: center;
    padding: 30px 10px;
  }
  .academic2 .title {
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
  .academic2 .bar {
    display: block;
    width: 30px;
    border: 2px solid rgb(157, 157, 189);
    margin: 5px auto;
  }
  .academic2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .academic2 div div {
    display: block;
    padding: 10px;
    width: 250px;
    background-color: white;
    border-bottom: 3px solid rgb(157, 157, 189);
  }
  .academic2 div div b {
    display: block;
    font-size: 16px;
    padding: 0px 10px;
  }
  .academic2 div div i {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    font-size: 50px;
    padding: 10px 0px;
  }

  .academic1 {
    background-color: white;
    text-align: center;
    padding: 30px 10px;
    margin: 0px auto;
  }
  .academic1 .title {
    font-size: 22px;
    font-weight: bold;
  }
  .academic1 .bar {
    display: block;
    width: 30px;
    border: 2px solid rgb(157, 157, 189);
    margin: 5px auto;
  }
  .academic1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .academic1 div div {
    display: block;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    cursor: pointer;
  }
  .academic1 div div:hover {
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .academic1 div div b {
    display: block;
    padding: 2px 0px 5px 0px;
  }
  .academic1 div div span {
    display: block;
    font-size: 10px;
  }
  .academic1 div div img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-bottom: 3px solid rgb(157, 157, 189);
  }
}
