@media screen and (min-width: 40em) {
  .introduction {
    padding: 100px 10px 80px 10px;
    text-align: center;
    max-width: 1000px;
    margin: 0px auto;
  }
  .introduction .name {
    font-size: 45px;
    font-weight: bold;
  }
  
  .academic-divs {
    background-color: var(--color4rgba1);
    box-shadow: 0px 0px 5px var(--color1rgba05);
    padding: 30px 35px;
    margin: 0px 50px 50px 50px;
    border-radius: 20px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: var(--color4rgba01);
    box-shadow: 0px 0px 10px var(--color1rgba1);
  }
  .div-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    display: inline-block;
  }
  .div-title i {
    margin-right: 10px;
  }
  .div-title:hover {
    color: var(--color2rgba1);
  }
  .div-title:hover .fa-arrow-right {
    margin-left: 10px;
    transition-duration: 0.5s;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .boxes div {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--color1rgba05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
  .boxes div:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px var(--color1rgba07);
    background-color: var(--color1rgba1);
    color: var(--color4rgba1);
  }
  .boxes div span {
    font-size: 14px;
    padding: 10px 10px 5px 10px;
  }
  .boxes div b {
    padding: 0px 10px 10px 10px;
  }
  .boxes div img {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }


}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .introduction {
    padding: 80px 10px 40px 10px;
    text-align: center;
    margin: 0px auto;
  }
  .introduction .name {
    font-size: 25px;
    font-weight: bold;
  }
  .academic-divs {
    background-color: var(--color4rgba1);
    box-shadow: 0px 0px 5px var(--color1rgba05);
    padding: 10px ;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: var(--color4rgba01);
    box-shadow: 0px 0px 10px var(--color1rgba1);
  }
  .div-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
    display: inline-block;
  }
  .div-title i {
    margin-right: 5px;
  }
  .div-title:hover {
    color: var(--color2rgba1);
  }
  .div-title:hover .fa-arrow-right {
    margin-left: 5px;
    transition-duration: 0.5s;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .boxes div {
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px var(--color1rgba05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
  .boxes div:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px var(--color1rgba07);
    background-color: var(--color1rgba1);
    color: var(--color4rgba1);
  }
  .boxes div span {
    font-size: 10px;
    padding: 5px 5px 5px 5px;
  }
  .boxes div b {
    font-size: 14px;
    padding: 0px 5px 5px 5px;
  }
  .boxes div img {
    width: 150px;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
  }
}
