:root {
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
hr{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

@media screen and (min-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width:100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none;
  }
  code {
    background-color: rgba(0,0,0,0.1);
    font-family: monospace;
    font-size: 110%;
    display: block;
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 3px;
  }
  .white{
    background-color: white;
    color: black;
    padding: 10px 0px;
    margin-top: 80px;
  }
  .white-log {
    margin-top: 50px;
  }
  .white-inner{
    max-width: 1200px;
    padding: 10px;
    margin: 0px auto;
  }
  .black{
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .black-inner{
    max-width: 1200px;
    padding: 10px;
    margin: 0px auto;
  }
  #progressbar {
    --scrollAmount: 0%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    width: var(--scrollAmount);
    height: 4px;
  }
  .top-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-flex .top-flex-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .top-flex .top-flex-left .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 35px;
    margin-left: -5px;
    margin-right: 10px;
    padding: 10px 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  .top-flex .top-flex-left .dots:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  }
  .dots-hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  }
  .top-flex .top-flex-left .dots div {
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    margin: 2px;
  }
  .top-flex .top-flex-left .all-apps {
    position: absolute;
    display: none;
    top: 50px;
    left: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.5), 0px 0px 5px rgba(0,0,0,1);
    font-size: 25px;
    align-items: center;
    justify-content: center;
  }
  .all-apps i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
  .all-apps i:hover {
    background-color: white;
    color: black;
  }
  .all-apps .selected {
    opacity: 0.6;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .top-flex input {
    display: block;
    border: none;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    margin: 3px 0px;
    font-size: 15px;
  }
  .top-flex input:focus {
    outline: none;
    background-color: rgba(255,255,255,0.9);
  }
  .top-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .top-buttons i {
    display: block;
    font-size: 25px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
  }
  .top-buttons i:hover {
    background-color: rgba(255,255,255,0.8);
    color: black;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
  }
  .login-btn {
    padding: 10px 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-btn:hover {
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
  }
  .login-btn i {
    font-size: 22px;
    padding-right: 8px;
  }

  .new-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .new-entry div {
    width: 100%;
    display: flex;
    margin: 5px 0px;
    gap: 10px;
  }
  .new-entry input {
    flex: 1;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    font-size: 15px;
  }
  .new-entry input:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry select {
    flex: 1;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px 10px;
    font-size: 15px;
  }
  .new-entry select:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry textarea {
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    resize: none;
    overflow: hidden;
    width: 100%;
    min-height: 50vh;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    font-size: 15px;
    margin-top: 5px;
  }
  .new-entry textarea:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry .fixed {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    margin: -5px;
    background-color: white;
    bottom: 0px;
    padding: 10px 20px;
    gap: 0px;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .new-entry button {
    flex: 1;
    background-color: rgb(249, 255, 253);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .new-entry button:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
  .new-entry button:focus {
    outline: none;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .item {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }
  .item-del {
    box-shadow: 0px 0px 5px rgba(255,0,0,0.8);
  }
  .item-del:hover {
    box-shadow: 0px 0px 5px rgba(255,0,0,0.8);
  }

  .item-info {
    flex: 1;
    user-select: none;
  }
  .item-edit {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    z-index: 10;
    margin-left: 10px;
  }
  .item:hover .item-edit {
    visibility: visible;
  }
  .item-edit i {
    font-size: 16px;
    padding: 7px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    cursor: pointer;
    width: 16px;
  }
  .item-edit i:hover {
    color: rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8);
  }
  
  .item span {
    display: block;
    font-size: 12px;
    color: #28b800;
  }
  .item b {
    display: block;
    font-size: 18px;
  }
  .item div div span {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 2px 8px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
  .no-result {
    display: block;
    margin: 20px auto;
    text-align: center;
  }


  .inners{
    width: 100%;
  }

  .katex {
    font-size: 1.25em;
    font-weight: 500;
  }
  .katex-display{
    margin: 8px 0px;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width:100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none;
  }
  code {
    background-color: rgba(0,0,0,0.1);
    font-family: monospace;
    font-size: 110%;
    display: block;
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 3px;
  }
  .white{
    background-color: white;
    color: black;
    padding: 5px 0px;
    margin-top: 80px;
  }
  .white-log {
    margin-top: 45px;
  }
  .white-inner{
    padding: 5px;
    margin: 0px auto;
  }
  .black{
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .black-inner{
    padding: 5px;
    margin: 0px auto;
  }
  #progressbar {
    --scrollAmount: 0%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    width: var(--scrollAmount);
    height: 3px;
  }
  .top-flex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
  }
  .top-flex .top-flex-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .top-flex .top-flex-left .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 25px;
    margin-left: -2px;
    margin-right: 5px;
    padding: 6px 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  .top-flex .top-flex-left .dots:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  }
  .dots-hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  }
  .top-flex .top-flex-left .dots div {
    background-color: white;
    width: 4px;
    height: 4px;
    border-radius: 3px;
    margin: 2px;
  }
  .top-flex .top-flex-left .all-apps {
    position: absolute;
    display: none;
    top: 40px;
    left: 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.9);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.5), 0px 0px 5px rgba(0,0,0,1);
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }
  .all-apps i {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
  .all-apps i:hover {
    background-color: white;
    color: black;
  }
  .all-apps .selected {
    opacity: 0.6;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .top-flex input {
    display: block;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 5px 8px;
    margin-top: 5px;
    font-size: 14px;
    flex: 1;
  }
  .top-flex input:focus {
    outline: none;
    background-color: rgba(255,255,255,0.9);
  }
  .top-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 0%;
    top: 4px;
  }
  .top-buttons i {
    display: block;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
  }
  .top-buttons i:hover {
    background-color: rgba(255,255,255,0.8);
    color: black;
  }
  .search-input {
    display: flex;
    width: 100%;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0px;
  }
  .login-btn {
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-btn:hover {
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
  }
  .login-btn i {
    font-size: 22px;
    padding-right: 8px;
  }

  .new-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .new-entry div {
    width: 100%;
    display: flex;
    margin: 3px 0px;
    gap: 5px;
  }
  .new-entry input {
    flex: 1;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    display: block;
    border: none;
    width: inherit;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    font-size: 14px;
  }
  .new-entry input:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry select {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    font-size: 14px;
  }
  .new-entry select:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry div .renderbox {
    display: none;
    visibility: hidden;
  }
  .new-entry textarea {
    flex: 1;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    display: block;
    resize: none;
    overflow: hidden;
    height: 50vh;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    font-size: 14px;
  }
  .new-entry textarea:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry .fixed {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin: -5px;
    background-color: white;
    bottom: 0px;
    padding: 10px 20px;
    gap: 0px;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .new-entry button {
    flex: 1;
    background-color: rgb(249, 255, 253);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .new-entry button:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
  .new-entry button:focus {
    outline: none;
  }
  .items {
    display: flex;
    flex-direction: column-reverse;
  }
  .item {
    padding: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 3px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item:hover {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
  }

  .item-del {
    box-shadow: 0px 0px 3px rgba(255,0,0,0.8);
  }
  .item-del:hover {
    box-shadow: 0px 0px 3px rgba(255,0,0,0.8);
  }

  .item-info {
    flex: 1;
    user-select: none;
  }
  .item-info em {
    font-style: normal;
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .item-info .share {
    font-size: 14px;
    cursor: pointer;
  }
  .item-info .share:hover {
    color: #abfd94;
  }
  .item-edit {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;
    text-align: center;
    z-index: 10;
  }
  .item-edit i {
    font-size: 18px;
    padding: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
  }
  .item-edit i:hover {
    color: rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.8);
  }
  

  .item span {
    display: block;
    font-size: 12px;
    color: #28b800;
  }
  .item b {
    display: block;
  }
  .item div div span {
    display: inline-block;
    font-size: 12px;
    padding: 0px 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }

  .no-result {
    display: block;
    margin: 30px auto;
    text-align: center;
  }


  .inners{
    width: 100%;
  }

}

.hide{
  display: none;
}
