@media screen and (min-width: 40em) {
  .top {
    margin-top: 120px;
  }
  .academic-divs {
    background-color: var(--color4rgba1);
    box-shadow: 0px 0px 5px var(--color1rgba05);
    padding: 30px 35px;
    margin: 0px 50px 50px 50px;
    border-radius: 20px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: var(--color4rgba01);
    box-shadow: 0px 0px 10px var(--color1rgba1);
  }

  .objective {
    max-width: 1200px;
    margin: 0px auto;
  }
  .obj-name {
    padding-bottom: 10px;
    text-align: justify;
  }
  .obj-name form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .obj-name form .email {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 10px var(--color1rgba02);
    color: var(--color1rgba1);
    width: 350px;
  }
  .obj-name form .email:focus {
    outline: none;
    box-shadow: 0px 0px 15px var(--color1rgba05);
  }
  .obj-name form .submit {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 10px var(--color1rgba02);
    font-weight: bold;
    cursor: pointer;
  }
  .obj-name form .submit:hover {
    box-shadow: 0px 0px 15px var(--color1rgba05);
    background-color: var(--color1rgba1);
    color: var(--color4rgba1);
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .boxes div {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--color1rgba05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
  }
  .boxes div:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px var(--color1rgba07);
    background-color: var(--color1rgba1);
    color: var(--color4rgba1);
  }
  .boxes div b {
    padding: 10px 10px 0px 10px;
    font-size: 18px;
  }
  .boxes div span {
    display: block;
    padding: 0px 10px 10px 10px;
    font-size: 15px;
  }
  .boxes div img {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .top {
    margin-top: 80px;
  }
  .academic-divs {
    background-color: var(--color4rgba1);
    box-shadow: 0px 0px 5px var(--color1rgba05);
    padding: 10px ;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: var(--color4rgba01);
    box-shadow: 0px 0px 10px var(--color1rgba1);
  }

  .objective {
    margin: 0px auto;
  }
  .obj-name {
    padding-bottom: 5px;
    text-align: justify;
  }

  
  .obj-name form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  .obj-name form .email {
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px var(--color1rgba02);
    color: var(--color1rgba1);
    width: 300px;
  }
  .obj-name form .email:focus {
    outline: none;
    box-shadow: 0px 0px 15px var(--color1rgba05);
  }
  .obj-name form .submit {
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px var(--color1rgba02);
    font-weight: bold;
    cursor: pointer;
  }
  .obj-name form .submit:hover {
    box-shadow: 0px 0px 15px var(--color1rgba05);
    background-color: var(--color1rgba1);
    color: var(--color4rgba1);
  }


  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .boxes div {
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px var(--color1rgba05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
  .boxes div:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px var(--color1rgba07);
    background-color: var(--color1rgba1);
    color: var(--color4rgba1);
  }
  .boxes div b {
    font-size: 16px;
    padding: 5px 5px 0px 5px;
    text-align: left;
  }
  .boxes div span {
    font-size: 12px;
    padding: 0px 5px 5px 5px;
  }
  .boxes div img {
    width: 150px;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
  }
}
