@media screen and (min-width: 40em) {
  .top {
    margin-top: 120px;
  }
  .academic-divs {
    background-color: var(--color4rgba1);
    box-shadow: 0px 0px 5px var(--color1rgba05);
    padding: 30px 35px;
    margin: 0px 50px 50px 50px;
    border-radius: 20px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: var(--color4rgba01);
    box-shadow: 0px 0px 10px var(--color1rgba1);
  }

  .objective {
    max-width: 1200px;
    margin: 0px auto;
  }
  .obj-name {
    padding-bottom: 10px;
    text-align: justify;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .boxes div {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--color1rgba05);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
  .boxes div:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px var(--color1rgba07);
    background-color: var(--color1rgba1);
    color: var(--color4rgba1);
  }
  .boxes div b {
    padding: 10px 10px 0px 10px;
    font-size: 18px;
  }
  .boxes div span {
    display: block;
    padding: 0px 10px 10px 10px;
    font-size: 15px;
  }
  .boxes div .profile {
    display: block;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    background-color: var(--color1rgba06);
    color: var(--color4rgba1);
    cursor: pointer;
  }
  .boxes div .profile:hover .fa-arrow-right {
    margin-left: 10px;
    transition-duration: 0.5s;
  }
  .boxes div:hover .profile {
    transition-duration: 0.5s;
    background-color: var(--color4rgba1);
    color: var(--color1rgba1);
  }
  .boxes div img {
    width: 250px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .top {
    margin-top: 80px;
  }
  .academic-divs {
    background-color: var(--color4rgba1);
    box-shadow: 0px 0px 5px var(--color1rgba05);
    padding: 10px ;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: var(--color4rgba01);
    box-shadow: 0px 0px 10px var(--color1rgba1);
  }

  .objective {
    margin: 0px auto;
  }
  .obj-name {
    padding-bottom: 5px;
    text-align: justify;
  }
  .obj-name .apply {
    display: inline-block;
    margin-top: 10px;
    padding: 2px 8px;
    font-weight: bold;
    background-color: var(--color1rgba1);
    color: var(--color4rgba1);
    border: 2px solid var(--color1rgba1);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .obj-name .apply:hover {
    background-color: var(--color4rgba1);
    color: var(--color1rgba1);
    border: 2px solid var(--color1rgba1);
  }

  
  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .boxes div {
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px var(--color1rgba05);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
  .boxes div:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px var(--color1rgba07);
    background-color: var(--color1rgba1);
    color: var(--color4rgba1);
  }
  .boxes div span {
    font-size: 12px;
    padding: 0px 5px 5px 5px;
  }
  .boxes div b {
    font-size: 16px;
    padding: 5px;
    text-align: left;
  }

  .boxes div .profile {
    display: block;
    padding: 5px 8px;
    margin: 0px 5px 5px 5px;
    border-radius: 5px;
    background-color: var(--color1rgba06);
    color: var(--color4rgba1);
    cursor: pointer;
  }
  .boxes div .profile:hover .fa-arrow-right {
    margin-left: 10px;
    transition-duration: 0.5s;
  }
  .boxes div:hover .profile {
    transition-duration: 0.5s;
    background-color: var(--color4rgba1);
    color: var(--color1rgba1);
  }
  .boxes div img {
    width: 150px;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
  }
}
