@media screen and (min-width: 40em) {
  .top {
    padding: 50px;
  }
  .page-top .page-head {
    width: 100%;
    height: 400px;
    background-image: url("https://images.hindustantimes.com/tech/img/2021/07/31/960x540/Screenshot_2021-07-31_at_6.17.55_PM_1627735690053_1627735748173.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(6px);
  }
  .page-top .page-title {
    background-color: rgb(48, 48, 48);
    padding: 5px;
    color: white;
  }
  .page-top .page-title div {
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
  }
  .page-top .page-title div div {
    display: block;
    margin: 0px auto;
    position: absolute;
    bottom: 29px;
    background-color: rgb(157, 157, 189);
    color: black;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .academic1 {
    background-color: white;
    padding: 50px 35px;
    max-width: 1200px;
    margin: 0px auto;
  }
  .academic1 div .title {
    font-size: 30px;
    font-weight: bold;
  }
  .academic1 div .bar {
    display: block;
    width: 50px;
    border: 3px solid rgb(157, 157, 189);
    margin: 10px 0px;
  }
  
  .academic2 {
    background-color: rgb(48, 48, 48);
    padding: 50px 35px;
  }
  .academic2 .inner {
    max-width: 1200px;
    margin: 0px auto;
    color: white;
  }
  .academic2 div .title {
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
  }
  .academic2 div .bar {
    display: block;
    width: 50px;
    border: 3px solid rgb(157, 157, 189);
    margin: 10px 0px;
  }


  .boxes-desc {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .boxes-desc .person {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    background-color: white;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
  }
  .boxes-desc .person div {
    padding: 10px 5px 5px 5px;
    width: 100%;
  }
  .boxes-desc .person:hover {
    transform: translateY(-3px);
    transition: 0.3s;
  }
  .boxes-desc .person b {
    padding: 10px;
    font-size: 18px;
  }
  .boxes-desc .person span {
    display: block;
    padding: 0px 10px 10px 10px;
    font-size: 15px;
  }
  .boxes-desc .person img {
    width: 100px;
    height: 130px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
  }
  .boxes-desc .person .profile {
    display: block;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(157, 157, 189);
    color: white;
    cursor: pointer;
    text-align: center;
  }
  .boxes-desc .person .profile:hover .fa-arrow-right {
    margin-left: 10px;
    transition-duration: 0.5s;
  }
  .boxes-desc .person .profile:hover .fa-arrow-trend-up {
    margin-left: 10px;
    transition-duration: 0.5s;
  }
  .boxes-desc .person:hover .profile {
    transition-duration: 0.5s;
  }

  
  .publications {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .publications .publication {
    padding: 10px;
    margin: 0px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .publications .publication .number {
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
    width: 120px;
  }


}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .top {
    padding: 0px;
  }
  .page-top .page-head {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(6px);
  }
  .page-top .page-title {
    background-color: rgb(48, 48, 48);
    padding: 5px;
    color: white;
  }
  .page-top .page-title div {
    margin: 0px auto;
    position: relative;
    font-size: 10px;
  }
  .page-top .page-title div div {
    display: block;
    margin: 0px auto;
    position: absolute;
    bottom: 20px;
    background-color: rgb(157, 157, 189);
    color: black;
    border-radius: 5px 5px 0px 0px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .academic1 {
    background-color: white;
    padding: 30px 10px;
    margin: 0px auto;
  }
  .academic1 div .title {
    font-size: 20px;
    font-weight: bold;
  }
  .academic1 div .bar {
    display: block;
    width: 30px;
    border: 2px solid rgb(157, 157, 189);
    margin: 5px 0px;
  }

  .academic2 {
    background-color: rgb(48, 48, 48);
    padding: 30px 10px;
  }
  .academic2 .inner {
    margin: 0px auto;
    color: white;
  }
  .academic2 div .title {
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
  }
  .academic2 div .bar {
    display: block;
    width: 30px;
    border: 2px solid rgb(157, 157, 189);
    margin: 5px 0px;
  }
  
  
  .boxes-desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .boxes-desc div {
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    background-color: white;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
  }
  .boxes-desc div:hover {
    background-color: black;
    color: white;
  }
  .boxes-desc div b {
    padding: 5px 5px 0px 5px;
    font-size: 16px;
  }
  .boxes-desc div span {
    display: block;
    padding: 0px 5px 5px 5px;
    font-size: 12px;
  }
  .boxes-desc div img {
    width: 150px;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
  }
  .boxes-desc div .profile {
    display: block;
    padding: 5px;
    margin: 0px 5px 5px 5px;
    border-radius: 5px;
    background-color: rgb(157, 157, 189);
    color: white;
    cursor: pointer;
  }
  .boxes-desc div .profile:hover .fa-arrow-right {
    margin-left: 10px;
    transition-duration: 0.5s;
  }
  .boxes-desc div:hover .profile {
    transition-duration: 0.5s;
    background-color: white;
    color: black;
  }

  .publications {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .publications .publication {
    padding: 5px;
    margin: 0px 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .publications .publication .number {
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    width: 85px;
  }
}

.boxes-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.boxes-members div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  cursor: pointer;
  word-wrap: break-word;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.boxes-members div:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
.boxes-members div span {
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  text-shadow: 0 2px 10px black;
  font-weight: bold;
}
.boxes-members div:hover span {
  opacity: 1;
  transition: 0.3s;
}
.boxes-members div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.boxes-members div:hover img {
  filter: blur(5px);
}