@media screen and (min-width: 40em) {
  .top {
    margin-top: 120px;
  }
  .academic-divs {
    background-color: rgba(104, 136, 111, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 30px 35px;
    margin: 0px 50px 50px 50px;
    border-radius: 20px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 0px 10px rgba(104, 136, 111, 0.5);
  }

  .objective {
    max-width: 1200px;
    margin: 0px auto;
  }
  .obj-name {
    padding-bottom: 10px;
    text-align: justify;
  }

  .obj-name .type {
    display: inline-block;
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }

  .obj-name .profile-head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .obj-name .profile-head img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .top {
    margin-top: 80px;
  }
  .academic-divs {
    background-color: rgba(104, 136, 111, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 0px 10px rgba(104, 136, 111, 0.5);
  }

  .objective {
    margin: 0px auto;
  }
  .obj-name {
    padding-bottom: 5px;
    text-align: justify;
  }
  .obj-name .apply {
    display: inline-block;
    margin-top: 10px;
    padding: 2px 8px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  .obj-name .apply:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .boxes div {
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(104, 136, 111, 0.5);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
  .boxes div:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #333;
    color: white;
  }
  .boxes div span {
    font-size: 12px;
    padding: 0px 5px 5px 5px;
  }
  .boxes div b {
    font-size: 16px;
    padding: 5px;
    text-align: left;
  }

  .boxes div .profile {
    display: block;
    padding: 5px 8px;
    margin: 0px 5px 5px 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
  }
  .boxes div .profile:hover .fa-arrow-right {
    margin-left: 10px;
    transition-duration: 0.5s;
  }
  .boxes div:hover .profile {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
  }
  .boxes div img {
    width: 150px;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
  }
}
