@media screen and (min-width: 40em) {
  .top {
    padding: 50px;
  }
  .page-top .page-head {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .page-top .page-title {
    background-color: rgb(48, 48, 48);
    padding: 5px;
    color: white;
  }
  .page-top .page-title div {
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
  }
  .page-top .page-title div div {
    display: block;
    margin: 0px auto;
    position: absolute;
    top: -70px;
    background-color: rgb(157, 157, 189);
    color: black;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .academic1 {
    background-color: white;
    padding: 50px 35px;
    max-width: 1200px;
    margin: 0px auto;
  }
  .academic1 div .title {
    font-size: 30px;
    font-weight: bold;
  }
  .academic1 div .bar {
    display: block;
    width: 50px;
    border: 3px solid rgb(157, 157, 189);
    margin: 10px 0px;
  }
  
  .academic2 {
    background-color: rgb(48, 48, 48);
    padding: 50px 35px;
  }
  .academic2 .inner {
    max-width: 1200px;
    margin: 0px auto;
    color: white;
  }
  .academic2 div .title {
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
  }
  .academic2 div .bar {
    display: block;
    width: 50px;
    border: 3px solid rgb(157, 157, 189);
    margin: 10px 0px;
  }

  
  .academic1 a {
    color: rgb(157, 157, 189);
  }
  .academic1 a:hover {
    color: black;
  }
  .academic2 a {
    color: rgb(157, 157, 189);
  }
  .academic2 a:hover {
    color: white;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .top {
    padding: 0px;
  }
  .page-top .page-head {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .page-top .page-title {
    background-color: rgb(48, 48, 48);
    padding: 5px;
    color: white;
  }
  .page-top .page-title div {
    margin: 0px auto;
    position: relative;
    font-size: 10px;
  }
  .page-top .page-title div div {
    display: block;
    margin: 0px auto;
    position: absolute;
    bottom: 21px;
    background-color: rgb(157, 157, 189);
    color: black;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .flex {
    display: block;
  }

  .academic1 {
    background-color: white;
    padding: 30px 10px;
    margin: 0px auto;
  }
  .academic1 div .title {
    font-size: 20px;
    font-weight: bold;
  }
  .academic1 div .bar {
    display: block;
    width: 30px;
    border: 2px solid rgb(157, 157, 189);
    margin: 5px 0px;
  }

  .academic2 {
    background-color: rgb(48, 48, 48);
    padding: 30px 10px;
  }
  .academic2 .inner {
    margin: 0px auto;
    color: white;
  }
  .academic2 div .title {
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
  }
  .academic2 div .bar {
    display: block;
    width: 30px;
    border: 2px solid rgb(157, 157, 189);
    margin: 5px 0px;
  }

  
  .academic1 a {
    color: rgb(157, 157, 189);
  }
  .academic1 a:hover {
    color: black;
  }
  .academic2 a {
    color: rgb(157, 157, 189);
  }
  .academic2 a:hover {
    color: white;
  }
}
