/* :root {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    --color1rgba1: #000000;
    --color1rgba01: rgba(0, 0, 0, 0.1);
    --color1rgba02: rgba(0, 0, 0, 0.2);
    --color1rgba03: rgba(0, 0, 0, 0.3);
    --color1rgba04: rgba(0, 0, 0, 0.4);
    --color1rgba05: rgba(0, 0, 0, 0.5);
    --color1rgba06: rgba(0, 0, 0, 0.6);
    --color1rgba07: rgba(0, 0, 0, 0.7);
    --color1rgba08: rgba(0, 0, 0, 0.8);
    --color1rgba09: rgba(0, 0, 0, 0.9);
    --color2rgba1: rgba(21, 126, 251, 1);
    --color2rgba01: rgba(21, 126, 251, 0.1);
    --color2rgba02: rgba(21, 126, 251, 0.2);
    --color2rgba03: rgba(21, 126, 251, 0.3);
    --color2rgba04: rgba(21, 126, 251, 0.4);
    --color2rgba05: rgba(21, 126, 251, 0.5);
    --color2rgba06: rgba(21, 126, 251, 0.6);
    --color2rgba07: rgba(21, 126, 251, 0.7);
    --color2rgba08: rgba(21, 126, 251, 0.8);
    --color2rgba09: rgba(21, 126, 251, 0.9);
    --color3rgba1: #C6CF9B;
    --color3rgba01: rgba(198, 207, 155, 0.1);
    --color3rgba02: rgba(198, 207, 155, 0.2);
    --color3rgba03: rgba(198, 207, 155, 0.3);
    --color3rgba04: rgba(198, 207, 155, 0.4);
    --color3rgba05: rgba(198, 207, 155, 0.5);
    --color3rgba06: rgba(198, 207, 155, 0.6);
    --color3rgba07: rgba(198, 207, 155, 0.7);
    --color3rgba08: rgba(198, 207, 155, 0.8);
    --color3rgba09: rgba(198, 207, 155, 0.9);
    --color4rgba1: rgba(241, 241, 241, 1);
    --color4rgba01: rgba(241, 241, 241, 0.1);
    --color4rgba02: rgba(241, 241, 241, 0.2);
    --color4rgba03: rgba(241, 241, 241, 0.3);
    --color4rgba04: rgba(241, 241, 241, 0.4);
    --color4rgba05: rgba(241, 241, 241, 0.5);
    --color4rgba06: rgba(241, 241, 241, 0.6);
    --color4rgba07: rgba(241, 241, 241, 0.7);
    --color4rgba08: rgba(241, 241, 241, 0.8);
    --color4rgba09: rgba(241, 241, 241, 0.9);
  } */
  :root {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    
    /* Color 1 Variations */
    --color1: #163020;
    --color1rgba01: rgba(22, 48, 32, 0.1);
    --color1rgba02: rgba(22, 48, 32, 0.2);
    --color1rgba03: rgba(22, 48, 32, 0.3);
    --color1rgba04: rgba(22, 48, 32, 0.4);
    --color1rgba05: rgba(22, 48, 32, 0.5);
    --color1rgba06: rgba(22, 48, 32, 0.6);
    --color1rgba07: rgba(22, 48, 32, 0.7);
    --color1rgba08: rgba(22, 48, 32, 0.8);
    --color1rgba09: rgba(22, 48, 32, 0.9);
    --color1rgba1: rgba(22, 48, 32, 1);

    /* Color 2 Variations */
    --color2: #304D30;
    --color2rgba01: rgba(48, 77, 48, 0.1);
    --color2rgba02: rgba(48, 77, 48, 0.2);
    --color2rgba03: rgba(48, 77, 48, 0.3);
    --color2rgba04: rgba(48, 77, 48, 0.4);
    --color2rgba05: rgba(48, 77, 48, 0.5);
    --color2rgba06: rgba(48, 77, 48, 0.6);
    --color2rgba07: rgba(48, 77, 48, 0.7);
    --color2rgba08: rgba(48, 77, 48, 0.8);
    --color2rgba09: rgba(48, 77, 48, 0.9);
    --color2rgba1: rgba(48, 77, 48, 1);

    /* Color 3 Variations */
    --color3: #B6C4B6;
    --color3rgba01: rgba(182, 196, 182, 0.1);
    --color3rgba02: rgba(182, 196, 182, 0.2);
    --color3rgba03: rgba(182, 196, 182, 0.3);
    --color3rgba04: rgba(182, 196, 182, 0.4);
    --color3rgba05: rgba(182, 196, 182, 0.5);
    --color3rgba06: rgba(182, 196, 182, 0.6);
    --color3rgba07: rgba(182, 196, 182, 0.7);
    --color3rgba08: rgba(182, 196, 182, 0.8);
    --color3rgba09: rgba(182, 196, 182, 0.9);
    --color3rgba1: rgba(182, 196, 182, 1);

    /* Color 4 Variations */
    --color4: #EEF0E5;
    --color4rgba01: rgba(238, 240, 229, 0.1);
    --color4rgba02: rgba(238, 240, 229, 0.2);
    --color4rgba03: rgba(238, 240, 229, 0.3);
    --color4rgba04: rgba(238, 240, 229, 0.4);
    --color4rgba05: rgba(238, 240, 229, 0.5);
    --color4rgba06: rgba(238, 240, 229, 0.6);
    --color4rgba07: rgba(238, 240, 229, 0.7);
    --color4rgba08: rgba(238, 240, 229, 0.8);
    --color4rgba09: rgba(238, 240, 229, 0.9);
    --color4rgba1: rgba(238, 240, 229, 1);
}

  p, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
  }
  a {
    text-decoration: none;
    color: var(--color2rgba1);
  }
  a:hover {
    color: var(--color2rgba07);
  }
  a:visited {
    text-decoration: none;
  }
  input,select{
    font-family: 'Poppins', sans-serif;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  .hide {
    display: none;
  }