@media screen and (min-width: 40em) {
  .top {
    padding: 50px;
  }
  .page-top .page-head {
    width: 100%;
    height: 400px;
    background-image: url("https://images.hindustantimes.com/tech/img/2021/07/31/960x540/Screenshot_2021-07-31_at_6.17.55_PM_1627735690053_1627735748173.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .page-top .page-title {
    background-color: rgb(48, 48, 48);
    padding: 5px;
    color: white;
  }
  .page-top .page-title div {
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
  }
  .page-top .page-title div div {
    display: block;
    margin: 0px auto;
    position: absolute;
    top: -70px;
    background-color: rgb(157, 157, 189);
    color: black;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
  }

  .flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .academic1 {
    background-color: white;
    padding: 50px 35px;
    max-width: 1200px;
    margin: 0px auto;
  }
  .academic1 div .title {
    font-size: 30px;
    font-weight: bold;
  }
  .academic1 div .bar {
    display: block;
    width: 50px;
    border: 3px solid rgb(157, 157, 189);
    margin: 10px 0px;
  }
  .academic1 img {
    display: block;
    width: 400px;
    height: 220px;
    object-fit: cover;
    margin-left: 100px;
    border-radius: 5px;
  }

  .academic2 {
    background-color: rgb(48, 48, 48);
    padding: 50px 35px;
  }
  .academic2 .inner {
    max-width: 1200px;
    margin: 0px auto;
    color: white;
  }
  .academic2 div .title {
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
  }
  .academic2 div .bar {
    display: block;
    width: 50px;
    border: 3px solid rgb(157, 157, 189);
    margin: 10px 0px;
  }

  .publications {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .publications .publication {
    padding: 10px;
    margin: 0px 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .publications .publication .number {
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
    width: 120px;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .top {
    margin-top: 80px;
  }
  .academic-divs {
    background-color: var(--color4rgba1);
    box-shadow: 0px 0px 5px var(--color1rgba05);
    padding: 10px ;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: var(--color4rgba01);
    box-shadow: 0px 0px 10px var(--color1rgba1);
  }

  .objective {
    margin: 0px auto;
  }
  .obj-name {
    padding-bottom: 5px;
    text-align: justify;
  }
  .obj-name span {
    display: block;
    color: var(--color1rgba1);
    font-weight: bold;
  }
  
  .publications {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .publications .publication {
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .publications .publication .number {
    font-size: 18px;
    font-weight: bold;
    padding-left: 2px;
    width: 95px;
  }
}
