@media screen and (min-width: 40em) {
  .top {
    margin-top: 120px;
  }
  .academic-divs {
    background-color: var(--color4rgba1);
    box-shadow: 0px 0px 5px var(--color1rgba05);
    padding: 30px 35px;
    margin: 0px 50px 50px 50px;
    border-radius: 20px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: var(--color4rgba01);
    box-shadow: 0px 0px 10px var(--color1rgba1);
  }

  .objective {
    max-width: 1200px;
    margin: 0px auto;
  }
  .obj-name {
    padding-bottom: 10px;
    text-align: justify;
  }
  .obj-name span {
    display: block;
    color: var(--color1rgba1);
    font-weight: bold;
  }
  .publications {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .publications .publication {
    padding: 10px;
    margin: 0px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .publications .publication .number {
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
    width: 120px;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  .top {
    margin-top: 80px;
  }
  .academic-divs {
    background-color: var(--color4rgba1);
    box-shadow: 0px 0px 5px var(--color1rgba05);
    padding: 10px ;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  .academic-divs:hover {
    background-color: var(--color4rgba01);
    box-shadow: 0px 0px 10px var(--color1rgba1);
  }

  .objective {
    margin: 0px auto;
  }
  .obj-name {
    padding-bottom: 5px;
    text-align: justify;
  }
  .obj-name span {
    display: block;
    color: var(--color1rgba1);
    font-weight: bold;
  }
  
  .publications {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .publications .publication {
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .publications .publication .number {
    font-size: 18px;
    font-weight: bold;
    padding-left: 2px;
    width: 95px;
  }
}
