:root {
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
hr{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

@media screen and (min-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width:100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none;
  }
  code {
    background-color: rgba(0,0,0,0.1);
    font-family: monospace;
    font-size: 110%;
    display: block;
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 3px;
  }
  .white{
    background-color: white;
    color: black;
    padding: 10px 0px;
    margin-top: 80px;
  }
  .white-log {
    margin-top: 50px;
  }
  .white-inner{
    max-width: 1200px;
    padding: 10px;
    margin: 0px auto;
  }
  .black{
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .black-inner{
    max-width: 1200px;
    padding: 10px;
    margin: 0px auto;
  }
  .top-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-flex .top-flex-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .top-flex .top-flex-left .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 35px;
    margin-left: -5px;
    margin-right: 10px;
    padding: 10px 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  .top-flex .top-flex-left .dots:hover {
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  }
  .dots-hover {
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  }
  .top-flex .top-flex-left .dots div {
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    margin: 2px;
  }
  .top-flex .top-flex-left .all-apps {
    position: absolute;
    display: none;
    top: 50px;
    left: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.5), 0px 0px 5px rgba(0,0,0,1);
    font-size: 25px;
    align-items: center;
    justify-content: center;
  }
  .all-apps i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
  .all-apps i:hover {
    background-color: white;
    color: black;
  }
  .all-apps .selected {
    opacity: 0.6;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .top-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .top-buttons i {
    display: block;
    font-size: 25px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
  }
  .top-buttons i:hover {
    background-color: rgba(255,255,255,0.8);
    color: black;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
  }
  .login-btn {
    padding: 10px 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-btn:hover {
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
  }
  .login-btn i {
    font-size: 22px;
    padding-right: 8px;
  }

  .new-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .new-entry div {
    width: 100%;
    display: flex;
    margin: 5px 0px;
    gap: 10px;
  }
  .new-entry .input-title {
    position: relative;
    gap: 0px;
  }
  .input-title .suggestions {
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    gap: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 5px;
    border-radius: 2px;
    width: fit-content;
  }
  .input-title .suggestions .suggest {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;
  }
  .input-title .suggestions .addsugg {
    margin: 0px;
  }
  .input-title .suggestions .suggest span {
    display: inline;
    padding: 5px 10px;
    cursor: pointer;
  }
  .input-title .suggestions .suggest span:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
  }
  .input-title .suggestions .addsugg span {
    display: inline;
    padding: 5px 10px;
    cursor: pointer;
  }
  .input-title .suggestions .addsugg span:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
  }
  .new-entry div input {
    flex: 1;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    font-size: 15px;
  }
  .new-entry div input:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry div select {
    flex: 1;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    font-size: 15px;
  }
  .new-entry div select:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry div textarea {
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    resize: none;
    overflow: hidden;
    width: 100%;
    min-height: 40vh;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 10px 15px;
    font-size: 15px;
    margin-top: 5px;
  }
  .new-entry div textarea:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry .fixed {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    margin: -5px;
    background-color: white;
    bottom: 0px;
    padding: 10px 20px;
    gap: 0px;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .new-entry button {
    flex: 1;
    background-color: rgb(249, 255, 253);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .new-entry button:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
  .new-entry button:focus {
    outline: none;
  }

  .items {
    display: flex;
    flex-direction: column-reverse;
  }
  .item {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 5px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }
  .item-del {
    box-shadow: 0px 0px 5px rgba(255,0,0,0.8);
  }
  .item-del:hover {
    box-shadow: 0px 0px 5px rgba(255,0,0,0.8);
  }

  .tick {
    padding-right: 10px;
  }
  .tick i {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 10;
  }
  .tick i:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
  }

  .item-info {
    flex: 1;
    user-select: none;
  }
  .item-info em {
    font-style: normal;
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .item-info .share {
    font-size: 14px;
    cursor: pointer;
  }
  .item-info .share:hover {
    color: #abfd94;
  }
  .item-edit {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 10px;
    text-align: center;
    z-index: 10;
  }
  .item-edit i {
    font-size: 20px;
    padding: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    cursor: pointer;
  }
  .item-edit i:hover {
    color: rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8);
  }
  
  .item span {
    display: block;
    font-size: 12px;
    color: #28b800;
  }
  .item b {
    display: block;
    font-size: 18px;
  }
  .item div div span {
    display: inline-block;
    font-size: 12px;
    padding: 2px 8px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
  .single-item div div span {
    display: block;
    font-size: 12px;
    color: #28b800;
  }
  .single-item div div b {
    display: block;
    font-size: 25px;
    margin: 10px 0px;
  }
  .single-item div div p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
  }
  .single-item div div p span {
    display: inline-block;
    font-size: 12px;
    padding: 2px 8px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
  .single-item-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .single-item .details {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 2px;
  }
  .single-item img {
    display: block;
    margin: 10px auto;
    max-height: 300px;
    width: auto;
    height: 100%;
    object-fit: contain;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  }
  .hyperlink {
    color: rgba(0,0,0,0.5);
    margin-left: 10px;
    cursor: pointer;
  }
  .hyperlink:hover {
    color: rgba(0,0,0,0.8);
  }
  .no-result {
    display: block;
    margin: 20px auto;
    text-align: center;
  }
  .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column {
    background-color: rgba(0,0,0,0.1);
    margin: 1px 0px;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
  }
  .top {
    align-items: flex-end;
  }
  .data {
    align-items: center;
  }
  .top .category {
    width: 200px;
  }
  .top .month {
    display: inline-block;
    transform: rotate(-90deg) translateX(5px) translateY(98px);
    transform-origin: left bottom;
    width: 20px;
    height: 100px;
  }
  .data .category {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
  }
  .data .month {
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.2);
  }
  .navigate-year {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .navigate-year i {
    font-size: 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    cursor: pointer;
  }
  .navigate-year i:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
  }
  #graph-year {
    position: relative;
    overflow: hidden;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .statmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    margin-top: 50px;
  }
  .statmark .statmarkitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    padding: 5px 20px;
    margin: 5px 0px;
    border-radius: 5px;
  }
  .statmark .stattitle {
    font-weight: bold;
  }


  .statmark .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
  }
  .statmark .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .statmark .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .statmark .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .statmark input:checked + .slider {
    background-color: black;
  }
  .statmark input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  .statmark input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .statmark .slider.round {
    border-radius: 34px;
  }
  .statmark .slider.round:before {
    border-radius: 50%;
  }


  .inners{
    width: 100%;
  }

  .katex {
    font-size: 1.25em;
    font-weight: 500;
  }
  .katex-display{
    margin: 8px 0px;
  }
}

@media screen and (min-width: 0em) and (max-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width:100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none;
  }
  code {
    background-color: rgba(0,0,0,0.1);
    font-family: monospace;
    font-size: 110%;
    display: block;
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 3px;
  }
  .white{
    background-color: white;
    color: black;
    padding: 5px 0px;
    margin-top: 50px;
  }
  .white-log {
    margin-top: 45px;
  }
  .white-inner{
    padding: 5px;
    margin: 0px auto;
  }
  .black{
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .black-inner{
    padding: 5px;
    margin: 0px auto;
  }
  #progressbar {
    --scrollAmount: 0%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    width: var(--scrollAmount);
    height: 3px;
  }
  .top-flex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
  }
  .top-flex .top-flex-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .top-flex .top-flex-left .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 25px;
    margin-left: -2px;
    margin-right: 5px;
    padding: 6px 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  .top-flex .top-flex-left .dots:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  }
  .dots-hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
  }
  .top-flex .top-flex-left .dots div {
    background-color: white;
    width: 4px;
    height: 4px;
    border-radius: 3px;
    margin: 2px;
  }
  .top-flex .top-flex-left .all-apps {
    position: absolute;
    display: none;
    top: 40px;
    left: 0px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.9);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.5), 0px 0px 5px rgba(0,0,0,1);
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }
  .all-apps i {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
  .all-apps i:hover {
    background-color: white;
    color: black;
  }
  .all-apps .selected {
    opacity: 0.6;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .top-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 0%;
    top: 4px;
  }
  .top-buttons i {
    display: block;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
  }
  .top-buttons i:hover {
    background-color: rgba(255,255,255,0.8);
    color: black;
  }
  .search-input {
    display: flex;
    width: 100%;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0px;
  }
  .login-btn {
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-btn:hover {
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
  }
  .login-btn i {
    font-size: 22px;
    padding-right: 8px;
  }

  .new-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .new-entry div {
    width: 100%;
    display: flex;
    margin: 3px 0px;
    gap: 5px;
  }
  .new-entry .input-title {
    position: relative;
    gap: 0px;
  }
  .input-title .suggestions {
    position: absolute;
    top: 35px;
    display: none;
    flex-direction: column;
    gap: 0px;
    background-color: white;
    box-shadow: 0px 0px 7px black;
    padding: 2px;
    border-radius: 2px;
    width: fit-content;
  }
  .input-title .suggestions .suggest {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;
  }
  .input-title .suggestions .addsugg {
    margin: 0px;
  }
  .input-title .suggestions .suggest span {
    display: inline;
    padding: 2px 5px;
    cursor: pointer;
  }
  .input-title .suggestions .suggest span:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
  }
  .input-title .suggestions .addsugg span {
    display: inline;
    padding: 2px 5px;
    cursor: pointer;
  }
  .input-title .suggestions .addsugg span:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px;
  }
  .new-entry input {
    flex: 1;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    display: block;
    border: none;
    width: inherit;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    font-size: 14px;
  }
  .new-entry input:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry select {
    flex: 1;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    font-size: 14px;
  }
  .new-entry select:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry div textarea {
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    display: block;
    resize: none;
    overflow: hidden;
    width: 100%;
    min-height: 40vh;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 5px;
  }
  .new-entry div textarea:focus {
    outline: none;
    background-color: rgba(0,0,0,0.1);
  }
  .new-entry .fixed {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin: -5px;
    background-color: white;
    bottom: 0px;
    padding: 10px 20px;
    gap: 0px;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .new-entry button {
    flex: 1;
    background-color: rgb(249, 255, 253);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    display: block;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .new-entry button:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
  .new-entry button:focus {
    outline: none;
  }
  .items {
    display: flex;
    flex-direction: column-reverse;
  }
  .item {
    padding: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 3px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item:hover {
    box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
  }

  .item-del {
    box-shadow: 0px 0px 3px rgba(255,0,0,0.8);
  }
  .item-del:hover {
    box-shadow: 0px 0px 3px rgba(255,0,0,0.8);
  }

  .tick {
    padding-right: 5px;
  }
  .tick i {
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 10;
  }
  .tick i:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
  }



  .item-info {
    flex: 1;
    user-select: none;
  }
  .item-info em {
    font-style: normal;
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .item-info .share {
    font-size: 14px;
    cursor: pointer;
  }
  .item-info .share:hover {
    color: #abfd94;
  }
  .item-edit {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;
    text-align: center;
    z-index: 10;
  }
  .item-edit i {
    font-size: 18px;
    padding: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    border-radius: 3px;
  }
  .item-edit i:hover {
    color: rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.8);
  }
  

  .item span {
    display: block;
    font-size: 12px;
    color: #28b800;
  }
  .item b {
    display: block;
    font-size: 16px;
  }
  .item div div span {
    display: inline-block;
    font-size: 12px;
    padding: 0px 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }

  .single-item div div span {
    display: block;
    font-size: 12px;
    color: #28b800;
  }
  .single-item div div b {
    display: block;
    font-size: 18px;
    margin: 5px 0px;
  }
  .single-item div div p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
  }
  .single-item div div p span {
    display: inline-block;
    font-size: 12px;
    padding: 0px 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0.3);
  }
  .single-item-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .single-item .details {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 2px;
  }
  .single-item img {
    display: block;
    margin: 10px auto;
    max-height: 250px;
    width: auto;
    height: 100%;
    object-fit: contain;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  }
  .hyperlink {
    color: rgba(0,0,0,0.5);
    margin-left: 5px;
    cursor: pointer;
  }
  .hyperlink:hover {
    color: rgba(0,0,0,0.8);
  }
  .no-result {
    display: block;
    margin: 30px auto;
    text-align: center;
  }

  .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .column {
    background-color: rgba(0,0,0,0.1);
    margin: 1px 0px;
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
  }
  .top {
    align-items: flex-end;
    height: 100px;
  }
  .data {
    align-items: center;
  }
  .top .category {
    width: 100px;
  }
  .top .month {
    display: inline-block;
    transform: rotate(-90deg) translateX(5px) translateY(21px);
    transform-origin: left bottom;
    width: 20px;
  }
  .data .category {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
  }
  .data .month {
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.2);
  }
  .navigate-year {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .navigate-year i {
    font-size: 16px;
    padding: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    cursor: pointer;
  }
  .navigate-year i:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
  }
  #graph-year {
    position: relative;
    overflow: hidden;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .statmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 0px auto;
    margin-top: 20px;
  }
  .statmark .statmarkitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 5px;
  }
  .statmark .stattitle {
    font-weight: bold;
  }


  .statmark .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
  }
  .statmark .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .statmark .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .statmark .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .statmark input:checked + .slider {
    background-color: black;
  }
  .statmark input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  .statmark input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  .statmark .slider.round {
    border-radius: 34px;
  }
  .statmark .slider.round:before {
    border-radius: 50%;
  }

  .inners{
    width: 100%;
  }

}

.hide{
  display: none;
}
